.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: auto;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 12px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(158, 145, 145, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  text-align: center;
  font-weight: 700;
}

.modalButton {
  margin-top: 20px;
  padding: 5px 15px;
  border: none;
  border-radius: 4px;
}

.modalButton:hover,
.modalButton:focus {
  background-color: rgb(23, 145, 145);
  color: #ffffff;
}
